<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="{{ url_for('static', filename='js/hello.js') }}"></script>


        <title>Svensk fotboll</title>
    </head>
    <body>
        <div ng-controller="Test">
            <div ng-repeat="movie in greeting"> 
                    <ul ng-repeat="c in movie">
                        <li> Title: {{c.Title|angular}} Year: {{c.Year|angular}} 
                        <img ng-src="{{c.Poster|angular}}"/>
                        </li>
                    </ul>
                </div>
            </div>
    </body>
</html>
