<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.7/angular-sanitize.js"></script>
        <script src="{{ url_for('static', filename='js/hello.js') }}"></script>
        <title>MDK Mashup</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header id="wrapperHeader">
            <div ng-controller="myController">

                <form ng-submit="doSearch(search); doTrailer(search)" id="searchfield">
                    <input type="text" ng-model="search"/>
                    <input type="submit">
                </form>

                <img src="{{ url_for('static', filename='img/header2.jpg') }}" id="headerimg">

                <h1 id="fontpage-H1">Sökresultat:</h1>
                <div ng-repeat="movie in greeting">
                    <ul ng-repeat="c in movie">
                        <li><a ng-href='movie/{{c.imdbID|angular}}'>{{c.Title|angular}}</a></li>
                    </ul>
                </div>
            </div>

        </header>
    </body>
</html>
