<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="{{ url_for('static', filename='js/hello.js') }}"></script>
        <title>Svensk fotboll</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header id="wrapperHeader">
            <div ng-controller="myController" data-ng-init="imdbID()">
                <img src="{{ url_for('static', filename='img/header2.jpg') }}" id="headerimg">

                <h1>{{greeting.Title|angular}}</h1>
                <p id= "plot">{{greeting.Plot|angular}}</p>

                <p id="info-value">Writer:</p> <p>{{greeting.Writer|angular}}</p>
                <p id="info-value">Actors:</p> <p>{{greeting.Actors|angular}}</p>
                <p id="info-value">Genre:</p> <p>{{greeting.Genre|angular}}</p>

                <p id="info-value">Runtime:</p> <p>{{greeting.Runtime|angular}}</p>
                <p id="info-value">IMDB Rating:</p> <p>{{greeting.imdbRating|angular}}</p>

                <div data-ng-init="imdbTrailer()">
                    <div>
                        {{trailer.embed|angular}}
                    </div>

                </div>


                <!--- <iframe width="480" height="270" src="//v.traileraddict.com/81707" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" frameborder="0"></iframe> -->

                <a href="http://127.0.0.1:5000/">Tillbaka</a>

                <!--- <div ng-repeat="trailers in trailer"> -->
                <!--- <p ng-repeat="c in trailers">{{c.embed|angular}}</p> -->
                </div>
            </div>
            </div>
        </header>
    </body>
</html>
