<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.7/angular-sanitize.js"></script>
        <script src="{{ url_for('static', filename='js/hello.js') }}"></script>
        <title>MDK Mashup</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header id="wrapperHeader">
            <div ng-controller="myController" data-ng-init="imdbID(); imdbTrailer()">
                <img src="{{ url_for('static', filename='img/header2.jpg') }}" id="headerimg">
                <div id="left">
                    <h1>{{greeting.Title|angular}}</h1>
                    <p>{{greeting.Plot|angular}}</p>

                    <p><b>Writer: </b>{{greeting.Writer|angular}}</p>
                    <p><b>Actors: </b>{{greeting.Actors|angular}}</p>
                    <p><b>Genre: </b>{{greeting.Genre|angular}}</p>

                    <p><b>Runtime: </b>{{greeting.Runtime|angular}}</p>
                    <p><b>IMDB Rating: </b>{{greeting.imdbRating|angular}}</p>
                    <a href="/">Tillbaka</a>
                </div>
                <div ng-if="greeting.trailer_embed != 'Not Found' "  id="right">
                    <h2>Trailer:</h2>
                    <div ng-bind-html="greeting.trailer_embed | toTrusted"></div>
                </div>
				<h1 ng-if="greeting.trailer_embed == 'Not Found'">Trailern hittades ej</h1>
            </div>
        </header>
    </body>
</html>
